/*
!/wp
!/*.php
/local-config.php
/database-config.php
!/composer.json
!/.git*
!/deploy.sh

!/wp-content/
/wp-content/*
!/wp-content/index.php

!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/sf-2012/
!/wp-content/themes/sf-2013/
wp-content/themes/sf-2013/css/site.css
wp-content/themes/sf-2013/cache/
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/index.php
!/wordpress
vendor
composer.lock