@import 'variables.less';
@import 'mixins.less';
@blue:                  #049cdb;
@blueDark:              #0064cd;
@fontserif: 'Cutive', serif;
@fontsans: 'Open Sans', sans-serif;

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

body {
    padding-top: 81px;
    font:14px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;

    a {
        .transition (.25s);
    }
}

h1, h2, h3, h4, h5 {
    font-family: @fontsans;
}

header {
    background: white;
    padding: 20px 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 600;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .box-shadow (0 -6px 20px rgba(0,0,0,0.2));

    div.site-logo {
        margin-top: 5px;
        
        a {
            display: block;
            color: black;
            font-size: 30px;
            font-weight: bold;
            padding: 9px 0;

            &:hover img { .opacity(80); }
        }
    }
    
    nav {
        float: right;
        
        ul {
            margin: 0;
            list-style: none;
            .clearfix ();
            
            li {
                float: left;
                margin-right: 10px;
                
                &:last-child {
                    margin-right: 0;
                }
                
                a {
                    display: block;
                    padding: 24px 14px;
                    font-size: 18px;
                    color: #777;
                    position: relative;
                    
                    &:hover {
                        color: #333;
                        text-decoration: none;
                    }
                }
                
                &.active a {
                    color: black;
                    font-weight: bold;
                }
                
                &.active .arrow {
                    display: block;
                }
            }
        }
    }
    
} // Header

// Typography
h2.leading {
    text-align: center;
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
    letter-spacing: -1px;
    //font-family: 'Ubuntu', sans-serif;;
    color: #333;
    margin-bottom: 20px;

    span.yellow {
        background: yellow;
        padding: 0 5px;
    }
}

p.leading {
    color: #A0A0A0;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 0 20px;
    font-weight: 300;
    font-family: @fontsans;
}

section.focus-area {
    padding: 100px 0;
    
    &.dark { background: #F4F4F4; }
    &.super-dark, &.services {
        background: #2980b9;

        h1, h2, h3, h4 p { color: white; }

        p {
            color: darken(white, 5%);
        }

        a {
            color: white;
            text-decoration: none;
            border-bottom: 1px dashed rgba(255,255,255,0.3);

            &:hover {
                border-bottom-color: white;
            }
        }

        span.yellow { color: black; }
    }

    &.services {
        background: url('http://24.media.tumblr.com/10744cab3e8c4882fb64b6ae7f888a2f/tumblr_mrrad4hojD1st5lhmo1_1280.jpg');
        background-size: cover;
        padding: 150px 0;
        background-position-y: -271px;
    }

    p.leading {
        text-align: center;
        font-family: @fontsans;
        margin: 0 auto;
        width: 90%;

        strong {
            font-weight: 400;
            color: #555;
        }
    }

    .action-btns {
        text-align: center;
        margin: 50px 0 0;

        .btn {
            .border-radius (0);
            padding: 12px 25px;
            font-size: 20px;
            line-height: 30px;
            font-family: @fontsans;
            border-width: 3px;

            &.btn-default {
                border-color: #555;
                background: transparent;
                margin-left: 20px;

                &:hover { background: white; }
            }
        }
    }
}

section.portfolio-listing {
    padding-top: 50px;

    .row {
        margin-bottom: 20px;
    }

    a:hover {
         text-decoration: none;

         h3 {
            color: #666;
         }
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-transform: none !important;
        margin: 15px 0 5px;
        color: #222;
    }

    h5 {
        font-weight: normal;
        font-size: 14px;
        color: #AAA;
        line-height: 14px;
    }

    p.last-call {
        font-size: 18px;
        margin: 20px 0 0;
        text-align: center;
    }

    p.leading {
        width: 80%;
        text-align: center;
        margin: 0 auto 50px;
    }
}

section.what-i-work-on {
    background: #0fb9c6;
    border-top: 1px solid white;
    padding: 50px 0 80px;
    font-family: @fontsans;
    
    h2.leading {
        font-size: 20px;
        line-height: 30px;
        color: #FFF;

        span {
            border-bottom: 3px solid rgba(255,255,255,0.5);
            padding-bottom: 4px;
        }
    }

    .resume-link {
        margin: 30px 0 -30px;
        color: #DADADA;

        text-align: center;

        a {
            color: white;
        }
    }

    .service-item {
        text-align: center;

        h3 {
            font-size: 25px;
            line-height: 40px;
            font-weight: 400;
            color: white;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            color: white;
            line-height: 26px;
        }
    }
}

section.services {
    padding: 30px 0;
    
    background: white;
    position: relative;
    z-index: 500;
    
    .work-history {
        div.col {
            margin-left: 0;
            
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
        
        div.spacer {
            width: 100%;
            height: 30px;
        }
    }
    
    div.freelance-cta {
        background: #E7E7DA;
        padding: 30px 10px;
        text-align: center;
        
        font-size: 18px;
        line-height: 25px;
        margin: 20px 0;
        
        .text-shadow(0 1px 0 white);
    }
    
    div.quotes {
        .quote {
            margin-bottom: 20px;
            
            .left {
                margin-right: 20px;
            }
            
            p {
                font-family: 'Kotta One', serif;
                font-size: 18px;
                .text-shadow(0 1px 0 white);
                color: #777;
                margin: 10px 0;
                line-height: 25px;
            }
            cite {
                display: block;
                color: #999;
            }
        }
    }
}

section.work {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    
    background: #555;
    position: relative;
    
    div.wrap {
        background: #555;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    div.ri-grid {
        margin: 0;
        z-index: 400;
        
        a:hover { .opacity(80); }
    }
    
    div.overlay-back {
        width: 100%;
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, .4);
        z-index: 500;
    }
    
    div.overlay {
        z-index: 500;
        background: rgba(242, 242, 242, 0.9);
        padding: 20px;
        width: 730px;
        margin: 0;
        .border-radius(3px);
        
        position: absolute;
        top: 26%;
        left: 23%;
        right: 20%;
        
        .box-shadow(0 3px 8px #333);
        border: 1px solid #FAFAFA;
        border-color: white #FAFAFA #FAFAFA #FAFAFA;
        
        h3 {
            letter-spacing: -1px;
            font-weight: normal;
            text-align: center;
            font-size: 50px;
            margin: 0 0 10px 0;
            padding: 10px 0;
            .text-shadow(0 1px 0 white);
        }
        
        h4 {
            .text-shadow(0 1px 0 white);
            font-size: 20px;
            font-weight: normal;
            text-align: center;
        }
        
        a.right {
            background: @blueDark;
            color: white;
            display: inline-block;
            .border-radius(6px);
            padding: 4px 10px;
            .text-shadow(0 1px 0 darken(@blueDark, 20%));
            .box-shadow(0 1px 0 white);
            
            &:hover {
                background: @red;
                text-decoration: none;
            }
            
            &:active {
                position: relative;
                top:2px;
            }
        }
    }
}

section.social {
    
    div.container {
        border-top: 1px solid #ddd;
        padding: 30px 0;
    }
     
    .foursquare {
        border: 1px solid #ccc;
        margin: 0 0 30px;
        
        .inner {
            border: 1px solid white;
            background: #eee;
            padding: 15px;
            font-size: 18px;
        }
        
        a:hover { text-decoration: none; }
    }
    
    ul.tweets {
        list-style: none;
        margin: 0;
        
        li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #eee;
            
            &:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
            
            a.time {
                color: #888;
                font-size: 13px;
            }
        }
        
        &.blog-posts li {
            h3 {
                font-weight: normal;
                
                a {
                    color: #333;
                }
            }
            
            h5 {
                font-weight: 300;
                color: #777;
            }
        }
    }
}

.section-title {
    text-align: center;
    //font-size: 35px;
    line-height: 50px;
    //font-weight: 500;
    
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 15px;
}
.section-sub {
    font-weight:300;
    text-align: center;
    margin: 0 0 20px;

}

section.contact {
    padding: 50px 0;
    background: #f5f5f5;
    
    .contact-alert {
        text-align: center;
        width: 50%;
        background: whiteSmoke;
        border: 1px solid #DDD;
        box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.76), inset 0 0 0px 1px #FFF;
        font-family: @fontsans;
        padding: 20px;
        margin: 40px auto;

        &.error {
            border: 3px solid red;
        }
    }

    form {
        padding: 20px 0;
        font-family: @fontsans;

        textarea {
            min-height: 200px;
            resize: vertical;
            font-size: 15px;
            .border-radius (0);
            width: 100%;
            height: 239px;
            padding: 18px;
        }
        
        input {
            padding: 14px;
            width: 100%;
            font-size: 14px;
            .border-radius (0);
            margin-bottom: 14px;
            height: auto;
            

            &:focus {

            }
        }

        button {
            font-size: 18px;
            line-height: 25px;
            padding: 10px 12px;

            &:hover {
                //background: lighten(#04C, 10%);
            }
        }
    }

    .alt-contact {
        margin: 40px 0 0;
    }

    .alt-btns {
        margin: 40px 15px 0;

        .left { text-align: right; }
    
        p {
            color: #888;
            font-family: @fontsans;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
        }
        .btn {
            .border-radius (2px);
            padding: 15px 20px;
            font-size: 20px;
            font-family: @fontsans;
        }
    }
}

// Work Single Page
section.single-work {
    div.container {
        width: 820px; // Subtract 2 cols
    }
    
    div.featured-image {
        text-align: center;
        width: 100%;
        padding-bottom: 1px;
        //border-bottom: 1px solid #888;
        
        margin: 20px 0 20px;
        
        img {
            border: 1px solid #eee;
            padding: 3px;
            
        }
    }
    
    div.work-sidebar {
        border-left: 1px solid #ddd;
        padding-left: 22px;
    }
    
    div.work-featured {
        font-family: @fontsans;

        h2 {
            font-weight: 400;
            letter-spacing: -1px;
            font-size: 36px;
        }
        
        h4 {
            margin-bottom: 10px;
            
            a {
                color: #888;
                font-weight: normal;
                
                &:hover {
                    color: #444;
                    text-decoration: none;
                }
            }
        }
        
        p {
            font-size: 15px;
            margin: 1em 0;
            line-height: 20px;
        }
    }
    
    // Footer
    div.footer-container {
        border-top: 1px solid #ddd;
        margin-top: 30px;
        padding-top: 20px;
        
        h3 {
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 0;
        }
        
        p {
            font-size: 18px;
            line-height: 25px;
        }
        
        .btn.btn-primary {
            margin-top: 23px;
            float: right;
            padding: 13px 20px;
            font-size: 22px;
            text-shadow: 0 1px 0 darken(@blueDark, 20%);
            
            &:hover {
                background: @red;
            }
        }
    }
}

footer {
    padding: 30px 0;
    color: lighten(#000000, 50%);
    background: #F5F5F5;
    
    a {
        color: lighten(#000000, 35%);
        
        &:hover {
            color: #333;
            text-decoration: none;
        }
    }
    ul {
        list-style: none; margin: 0; padding: 0;
        
        li {
            float: left;
            
            &:last-child a { border-right: none; }
            a {
                display: block;
                padding: 5px 10px;
                
            }
        }
    }
}

section.blog {
    padding-top: 40px;
    div.container {
        width: 820px; // Subtract 2 cols
    }
    
    
    article {
        margin-bottom: 40px;
        .clearfix();
		
        .article-meta {
            font-size: 12px;
            font-weight: 300;
            margin: 0 0 10px;
            color: #888;
            
            a { color: #777; }
        }
        
        .btn-permalink {
            background: @blueDark;
            color: white;
            display: inline-block;
            .border-radius(6px);
            padding: 4px 10px;
            .text-shadow(0 1px 0 darken(@blueDark, 20%));
            .box-shadow(0 1px 0 white);
            
            &:hover {
                background: @red;
                text-decoration: none;
            }
            
            &:active {
                position: relative;
                top:2px;
            }
        }
        
        .post-title-wrap {
            border-bottom: 1px solid darken(#eeeeee, 10%);
            padding: 18px 0;

            .post-title {
                font-size: 36px;
                line-height: 1em;
                color: black;

                a {
                    color: inherit;

                    &:hover {
                        color: lighten(black, 20%);
                        .transition (.25s);
                        text-decoration: none;
                    }
                }
            }
            .post-meta {
                font-weight: normal;
                color: #9B9B9B;
                font-size: 13px;
                line-height: 15px;
                margin: 0 0 10px;

                a {
                    color: darken(#9B9B9B, 25%);
                }
            }
        }

        .content-wrap {
            @import 'posting.less';
            
            .clearfix ();
        }
    }
}

.wp-pagenavi {
    clear: both;
    margin-bottom: 20px;
}

.wp-pagenavi a, .wp-pagenavi span {
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 11px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	border-radius: 2px;
    padding: 6px 9px !important;
	.transition (0.1s linear all);
}

.wp-pagenavi a:hover {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
}

.wp-pagenavi span.current {
	background-color: #339bb9;
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 darken(@blueDark, 20%);
            background: @blueDark;
            border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color:#FFF;
}

@media (max-width: @screen-sm) {
    body {
        padding: 0;
    }
    section.focus-area {
        .action-btns .btn {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        &.services {
            background-position-y: 0;
        }
     }
    
    section.solutions-process {
        .solution-item {
            padding: 0 20px 20px;
        }
    }

    section.solutions-feature {
        img {
            max-width: 100%;
        }
    }
     
     section.social, section.contact {
          padding: 20px 15px;
     }
     
     section.social {
          ul.thumbnails {
               .clearfix();
               
               li {
                    max-width:40%;
                    
                    &:nth-child(odd) {
                         float: left;
                    }
                    
                    &:nth-child(even) {
                         float: right;
                    }
               }
          }
     }
     
     section.blog {
          div.container {
               width: auto;
               
               article {
                    padding: 0 15px;
               }
               
               .content-wrap {
                    img {
                         max-width: 100%;
                    }
               }
          }
     }
     
     section.work {
          div.overlay {
               width: 80%;
               left: 5%;
          }
     }
     
     section.contact form {
          width: auto;
          .clearfix ();
          
          input, textarea {
               float: left;
               width: 90%;
          }
          
          input.email, input.name, input.subject {
               width: 90%;
          }
     }
     
     section.single-work {
          div.container {
               width: auto;
          }
          
          div.footer-container {
               padding: 0 15px;
               
               h3, p.lead {
                    text-align: center;
               }
               
               div.span4 {
                    float: none;
                    width: auto;
                    text-align: center;
                    
                    .btn.btn-primary {
                         float: none;
                    }
               }
          }
          
          div.work-featured, div.work-sidebar {
               padding: 0 20px;
          }
     }
     
    header {
        padding: 0;
        position: static;

        div.site-logo {
            margin: 0;
            
            a {
                padding: 10px 0 15px;
            }

            img {
                max-width: 100%;
            }
        }

        button.navbar-toggle {
            border-color: rgba(0, 0, 0, 0.1);
            padding: 15px;

            .icon-bar {
                background-color: black;
            }

            &:focus {
                outline: none;
                .box-shadow (none);
                border-color: rgba(0, 0, 0, 0.5);
            }
        }
    
        .nav-wrap { display: none; padding: 0; }

        nav {
            float: none;
            width: auto;
            
            ul {
                margin: 0 0 10px; padding: 0;

                li {
                    float: none;
                    margin: 0;
                    padding: 0 15px;

                    a {
                        text-align: left;
                        padding: 10px;
                        font-size: 17px;
                    }

                    &.active {
                        background: rgba(0,0,0,0.1);
                    }
                }
            }
        }
     
     footer {
          .span5 {
               text-align: center !important;
          }
     }
}
}


.share-it {
    border-top: 1px solid #DDD;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #DDD;
    background: rgba(100, 100, 100, 0.04);
}



#project-listing {
    margin-top: 20px;
    
    a:hover {
        text-decoration: none;
    }

    .project {
        background: whiteSmoke;
        border: 1px solid #ddd;
        box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.76), inset 0 0 0px 1px white;
        padding: 20px;
        margin-bottom: 20px;
        
        &:hover {
            border-color: #A8A8A8;
            transition: .25s;
        }
        
        h3 {
            font-size: 22px;
            margin: 5px 0 10px;
            color: #222;
            text-shadow: 0 1px 0 white;
        }

        p {
            color: #888;
            text-shadow: 0 1px 0 white;
            font-size:15px;
            line-height: 20px;
            margin: 0;
        }
    }
}

// Services Page
section.solutions-process {
    margin: 25px 0;

    p.leading {
        width: 80%;
        text-align: center;
        margin: 0 auto 50px;
    }

    .solution-item {
        text-align: center;
        font-family: @fontsans;

        h4 {
            font-weight: bold;
        }

        p {
            font-size: 15px;
        }
    }
}

.solutions-feature {
    margin: 80px 0;

    h3.leading {
        font-weight: 600;
    }

    .section-info {
        font-family: @fontsans;
        margin: 1em 0;
        color: #474747;
        font-size: 16px;
        line-height: 27px;
    }

    &.center-feature {
        margin-bottom: 0;

        .leading { text-align: center; }

        p.leading { width: 80%; margin: 0 auto; }

        .media-wrap {
            text-align: center;
            margin: 40px auto 0;
            img { max-width: 100%;}
        }
    }


    &.cta-feature {
        padding: 50px 0;
        margin-bottom: 0;
        background: #F5F5F5;

        .btn {
            padding: 15px 20px;
            font-size: 20px;
            font-family: @fontsans;
            border-radius: 0;
        }
    }
}



@media (min-width: @screen-sm) and (max-width: @screen-md) {
    header .site-logo img { max-width: 100%; }
    header nav ul li a {
        padding-left: 6px; padding-right: 6px;
    }

    header {
        .nav-wrap ul { padding: 0;}
        .site-logo, .nav-wrap { padding: 0; }
    }

    section.focus-area.services {
        background-position-y: 0;
    }
}